---
layout: page
title: questions
permalink: /questions/
---

<p>Questions I want to keep in mind.</p>

{% assign questions = site.questions | sort: "date" | reverse %}
{% if questions.size > 0 %}
<ul class="posts">
  {% for question in questions %}
  <li>
    {% if question.date %}<span>{{ question.date | date_to_string }}</span> » {% endif %}
    <a href="{{ question.url | relative_url }}" title="{{ question.title }}">{{ question.title }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No questions have been published yet.</p>
{% endif %}
