<figure class="maincolumn">
    <figcaption class="marginnote">{{ include.caption }}</figcaption>
    {%- assign image_src = include.src | default: include.url -%}
    {%- assign prefix2 = image_src | slice: 0, 2 -%}
    {%- assign prefix7 = image_src | slice: 0, 7 -%}
    {%- assign prefix8 = image_src | slice: 0, 8 -%}
    {%- if prefix2 == '//' or prefix7 == 'http://' or prefix8 == 'https://' -%}
    <img src="{{ image_src }}" alt="{{ include.caption }}" />
    {%- else -%}
    <img src="{{ image_src | relative_url }}" alt="{{ include.caption }}" />
    {%- endif -%}
</figure>
